<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="{{static_url('css/home.css')}}">
</head>
<body>
    <h1>这里是HOME页面</h1>
    <h1>num: {{ num }}</h1>
    <h1>num + 10: {{ num + 10 }}</h1>


    <h1>name:{{name}}</h1>
    <h1>age:{{age}}</h1>

    {% if flag == 0 %}
        <h1>sunck is a good man</h1>
    {% else %}
        <h1>hello sunck</h1>
    {% end %}


    <ul>
        {% for stu in stus %}
        <li>name:{{stu["name"]}}</li>
        <li>age:{{stu["age"]}}</li>
        {% end %}
    </ul>



    <h1>mySum: {{mySum(100,200)}}</h1>
</body>
</html>